/* setting whole doc to border-box */
* {
  box-sizing: border-box;
  margin: 0
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* spacing to clean up header */
#currentDay {
  font-size: 40px;
  line-height: 2;
}

/* spacing to clean up header */
.currentDay {
  margin: 0;
}

/* thought subtitle looked better italic */
.lead {
  font-style: italic;
}

#timeBlocks {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  padding-right: 3rem;
  padding-left: 2rem;
}

#todos {
  width: 86%;
  text-align: center;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
